.firstpage-hero {
  background-color: $light-grey;
  color: $black;

  h1 {
    margin-top: 40px;
    font-size: 4em;
    transition: font-size 0.4s ease-in-out;
    text-align: center;
    line-height: 1.1;
  }
  h3 {
    margin-top: 5px;
    font-size: 1.66em;
    transition: font-size 0.4s ease-in-out;
    text-align: center;
    line-height: 1.4;
  }

  height: 260px;
  transition: height 0.4s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include breakpoint(phablet) {
    h1 {
      margin-top: 0px;
      font-size: 4em;
      transition: font-size 0.4s ease-in-out;
    }
    h3 {
      margin-top: 0px;
      font-size: 1.66em;
      transition: font-size 0.4s ease-in-out;
    }
    height: 340px;
    transition: height 0.4s ease-in-out;
  }
  @include breakpoint(laptop) {
    h1 {
      margin-top: 0px;
      font-size: 5.5em;
      transition: font-size 0.4s ease-in-out;
    }
    h3 {
      margin-top: 0px;
      font-size: 2.2em;
      transition: font-size 0.4s ease-in-out;
    }
    height: 380px;
    transition: height 0.4s ease-in-out;
  }
  @include breakpoint(desktop) {
    h1 {
      margin-top: 40px;
      font-size: 8em;
      transition: font-size 0.4s ease-in-out;
    }
    h3 {
      margin-top: 0px;
      font-size: 3.33em;
      transition: font-size 0.4s ease-in-out;
    }
    height: 520px;
    transition: height 0.4s ease-in-out;
  }

  // background-image: url(/ice2.jpg);
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // color: black;

  // &:hover {
  //   background-image: url(/ice.jpg);
  //   background-size: cover;
  //   color: black;
  //   transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;
  // }
}