.firstpage-hero {
  height: 540px;
  background-color: $light-grey;

  h1 {
    font-size: 8em;
    color: $black;
  }

  h3 {
    font-size: 3.33em;
    color: $black;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}