.footer-item {
  display: inline-block;
  background: $white;
  width: 20%;
  min-width: 100px;
  padding: 20px;
  margin-right: 20px;
  &:last-child {
    margin-right:0px;
  }
  &:hover {
    background-color: $primary-color;
    color: $white;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  }
}